* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f6fa;
    font-family: Arial, sans-serif;
}

.card {
    width: 416px;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin: 20px auto;
    overflow: hidden;
}

.card .card-header {
    width: 414px;
    height: 200px;
    background: linear-gradient(135deg, #677BE6, #754DA5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header h2 {
    color: #FFFFFF;
    font-size: 48px;
}

.card-header span {
    position: absolute;
    top: 14px;
    right: 14px;
    color: #fff;
    font-size: 16px;
}

.card-body {
    padding: 15px 16px;
}

.card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.card-top .tag {
    font-size: 12px;
    color: #6366F1;
    font-weight: 700;
    background-color: #6366F11A;
    padding: 4.2px 7.8px;
    border-radius: 6px;
}

.card-top .rating {
    font-size: 16px;
    font-weight: 700;
}

.card-body h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 7.19px;
}

.card-body p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 16px;
}

.card-body .card-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
}

.card-footer {
    border-top: 1px solid #DEE2E6;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.card-footer .price {
    font-size: 20px;
    font-weight: 700;
    color: #6366F1;
}

.card-footer .btn {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #0D6EFD;
    padding: 4px 8px;
    border-radius: 4px;
}