* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.courses {
    padding: 40px 20px 80px;
}

.course-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.course-card {
    background: #fff;
    width: 340px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 24px rgba(0,0,0,0.08);

}

.course-image {
    position: relative;
}

.course-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
}

.badge {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}

.learning { background: #4f6ef7; }
.done { background: #28c76f; }
.saved { background: #f5a623; }

.course-content {
    padding: 20px;
}

.course-category {
    font-size: 13px;
    color: #5b5ff0;
    font-weight: 600;
}

.course-content h3 {
    font-size: 18px;
    margin: 8px 0;
}

.teacher {
    font-size: 14px;
    color: #777;
    margin-bottom: 16px;
}


.progress-box {
    margin-bottom: 20px;
    background-color: #F9FAFB;
    padding: 20px;
    border-radius: 10px;
}

.progress-text {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 6px;
}

.progress-bar {
    height: 6px;
    background: #eee;
    border-radius: 6px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #5b5ff0;
}

.done-bar {
    width: 100%;
    background: #28c76f;
}

.lesson {
    font-size: 13px;
    color: #777;
    margin-top: 6px;
}

.course-info {
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 12px;
}

.price {
    margin-bottom: 16px;
}

.price .current {
    color: #5b5ff0;
    font-weight: 700;
    font-size: 20px;
}

.price .old {
    text-decoration: line-through;
    color: #aaa;
    margin-left: 8px;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    background: #5b5ff0;
    color: #fff;
}

.btn-primary:hover {
    background: #fff;
    border: 1px solid #5b5ff0;
    color: #5b5ff0;
}

.btn-sup {
    width: 50px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #e0dfdf;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .course-card {
        width: 100%;
        max-width: 360px;
    }
}
